# Virtual Environments
.venv/
venv/
env/
ENV/
parse/


# Uploaded Data & Output Files
__DATA__/

# Environment Variables & Secrets
.env
.env.*
config.yaml

# Python Byte-code & Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs & Editors
.idea/
.vscode/
*.swp
*.swo

# OS Specific
.DS_Store
Thumbs.db

# Testing & Notebooks
.pytest_cache/
.ipynb_checkpoints
